/Answers/Answer_7/hdecay/*
!/Answers/Answer_7/hdecay/run
!/Answers/Answer_7/hdecay/hdecay.in
!/Answers/Answer_7/hdecay/br.input
!/Answers/Answer_7/hdecay/br.sm1
!/Answers/Answer_7/hdecay/br.sm2
/Answers/Answer_7/FeynHiggs-2.19.0/*
!/Answers/Answer_7/FeynHiggs-2.19.0/FeynHiggs2.18.0_Linux
!/Answers/Answer_7/FeynHiggs-2.19.0/var.in

